<h2>Cadastro de Modelo de Proposta</h2>

<form [formGroup]="modeloForm" (ngSubmit)="adicionarModelo()">
  <label>Nome:</label>
  <input formControlName="nome" type="text"><br>

  <label>Escopo Detalhado Padrão:</label>
  <textarea formControlName="escopoDetalhadoPadrao"></textarea><br>

  <label>Condições de Exclusão Padrão:</label>
  <textarea formControlName="condicoesExclusaoPadrao"></textarea><br>

  <label>Obrigações da Contratada Padrão:</label>
  <textarea formControlName="obrigacoesContratadaPadrao"></textarea><br>

  <label>Obrigações da Contratante Padrão:</label>
  <textarea formControlName="obrigacoesContratantePadrao"></textarea><br>

  <label>Condições de Pagamento Padrão:</label>
  <textarea formControlName="condicoesPagamentoPadrao"></textarea><br>

  <button type="submit" [disabled]="modeloForm.invalid">Salvar</button>
</form>

<hr>

<h2>Lista de Modelos</h2>
<table>
  <thead>
    <tr>
      <th>ID</th><th>Nome</th><th>Validade</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of modelos">
      <td>{{ m.id }}</td>
      <td>{{ m.nome }}</td>
      <td>{{ m.condicoesPagamentoPadrao }}</td>
    </tr>
  </tbody>
</table>



<!--<p>modelos works!</p>-->
